@import url('https://fonts.googleapis.com/css2?family=Sen:wght@400..800&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

:root {
    --body-color: #ff565b;
    --dark-body-color: #2a2a2a;
}

/* =======================General-Styles====================== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Sen", sans-serif;
    overflow-x: hidden;
}

ul li {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--body-color);
}

/* =======================Main-Styles====================== */
/* =======================Hero-Section====================== */
.hero-background {
    background-image: url('./Assets/lamp.jpeg');
    background-repeat: no-repeat;
    background-size: 100%;
    padding-bottom: 40%;
    box-shadow: inset 0 0 0 500px rgba(0, 0, 0, 0.753);

}

header {
    padding-left: 50px;
    padding-right: 50px;
}



.nav-menu ul {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
    font-size: 16px;
}

.nav-menu li {
    padding: 9px 20px;
    margin-left: 5px;
}

.nav-menu {
    position: sticky;
    top: 0;
    bottom: 50;
}


.active-link {
    background-color: #fff;
    padding: 15px;
    border-top: 2px solid var(--body-color);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    color: var(--body-color);
}

.logo-menu {
    margin-right: auto;
    margin-top: auto;
}


.hero-text {
    text-align: center;
    position: relative;
    top: 150px;
    color: #fff;
}

.hero-text h2 {
    font-weight: bold;
    font-size: 40px;
}

.hero-text span {
    color: var(--body-color);
}

.hero-paragraph {
    margin-top: 20px;
    font-size: 18px;
}
.img-body{
    margin-left: 100px;
    margin-top: 100px;
}
.img-body-flex-1{
    display: flex;
    gap: 0px;
}

.img-1{
    width: 370px;
    border-radius: 11px;
}

.img-body-paragraph{
    border: 1px solid var(--body-color);
    padding: 12px;
    display: inline-block;
    color: #fff;
    background-color: var(--body-color);
    position: relative;
    bottom: 528px;
    right: 375px;
    border-top-left-radius: 8px;
    border-bottom-right-radius: 8px;
}
.middle-img{
    margin-left: -110px;
}
.img-2{
    width: 370px;
    border-radius: 11px;
}
.img-body-paragraph-2{
    border: 1px solid var(--body-color);
    padding: 12px;
    display: inline-block;
    color: #fff;
    background-color: var(--body-color);
    position: relative;
    bottom: 237px;
    right: 375px;
    border-top-left-radius: 8px;
    border-bottom-right-radius: 8px;
}
.img-3{
    width: 370px;
    margin-top: 10px;
    border-radius: 11px;
}
.img-body-paragraph-3{
    border: 1px solid var(--body-color);
    padding: 12px;
    display: inline-block;
    color: #fff;
    background-color: var(--body-color);
    position: relative;
    bottom: 237px;
    right: 375px;
    border-top-left-radius: 8px;
    border-bottom-right-radius: 8px;
}
.img-4{
    width: 370px;
    margin-left: 800px;
    margin-top: -570px;
    border-radius: 11px;
}
.img-body-paragraph-4{
    border: 1px solid var(--body-color);
    padding: 12px;
    display: inline-block;
    color: #fff;
    background-color: var(--body-color);
    position: relative;
   left: 800px;
   bottom: 570px;
    border-top-left-radius: 8px;
    border-bottom-right-radius: 8px;
}
.img-body-flex-2{
    display: flex;
    margin-left: 100px;
    margin-top: -30px;
    gap: 30px;
}
.img-5{
    width: 370px;
    border-radius: 11px;
}
.img-body-paragraph-5{
    border: 1px solid var(--body-color);
    padding: 12px;
    display: inline-block;
    color: #fff;
    background-color: var(--body-color);
    position: relative;
    bottom: 262px;
    border-top-left-radius: 8px;
    border-bottom-right-radius: 8px;
}
.img-6{
    width: 370px;
    border-radius: 11px;
    margin-right: 265px;
}
.img-body-paragraph-6{
    border: 1px solid var(--body-color);
    padding: 12px;
    display: inline-block;
    color: #fff;
    background-color: var(--body-color);
    position: relative;
    bottom: 263px;
    border-top-left-radius: 8px;
    border-bottom-right-radius: 8px;
}
.img-7{
    width: 370px;
    border-radius: 11px;
    margin-left: -270px;
}
.img-body-paragraph-7{
    border: 1px solid var(--body-color);
    padding: 12px;
    display: inline-block;
    color: #fff;
    background-color: var(--body-color);
    position: relative;
    bottom: 263px;
    right: 270px;
    border-top-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.img-body-down{
    margin-left: 100px;
    margin-top: -10px;
}
.img-8{
    width: 370px;
    border-radius: 11px;
}
.img-body-paragraph-8{
    border: 1px solid var(--body-color);
    padding: 12px;
    display: inline-block;
    color: #fff;
    background-color: var(--body-color);
    position: relative;
    bottom: 236px;
    right: 377px;
    border-top-left-radius: 8px;
    border-bottom-right-radius: 8px;
}
.img-9{
    width: 370px;
    border-radius: 11px;
    margin-top: 15px;
}
.img-body-paragraph-9{
    border: 1px solid var(--body-color);
    padding: 12px;
    display: inline-block;
    color: #fff;
    background-color: var(--body-color);
    position: relative;
    bottom: 235px;
    right: 375px;
    border-top-left-radius: 8px;
    border-bottom-right-radius: 8px;
}
.img-body-flex-3{
    display: flex;
    gap: 40px;
    margin-left: 400px;
    margin-top: -590px;
}
.img-10{
    width: 370px;
    border-radius: 11px;
    margin-top: 15px;
}
.img-body-paragraph-10{
    border: 1px solid var(--body-color);
    padding: 12px;
    display: inline-block;
    color: #fff;
    background-color: var(--body-color);
    position: relative;
    bottom: 555px;
    border-top-left-radius: 8px;
    border-bottom-right-radius: 8px;
}
.img-11{
    width: 370px;
    border-radius: 11px;
    margin-top: 15px;
    margin-left: -80px;
}
.img-body-paragraph-11{
    border: 1px solid var(--body-color);
    padding: 12px;
    display: inline-block;
    color: #fff;
    background-color: var(--body-color);
    position: relative;
    bottom: 555px;
    right: 80px;
    border-top-left-radius: 8px;
    border-bottom-right-radius: 8px;
}
.img-12{
    width: 370px;
    border-radius: 11px;
    margin-left: 800px;
}
.img-body-paragraph-12{
    border: 1px solid var(--body-color);
    padding: 12px;
    display: inline-block;
    color: #fff;
    background-color: var(--body-color);
    position: relative;
    bottom: 264px;
    left: 800px;
    border-top-left-radius: 8px;
    border-bottom-right-radius: 8px;
}
.border {
    margin-top: 100px;
    padding: 50px;
    display: flex;
    gap: 250px;
    text-align: justify;
    align-items: center;
    background-color: var(--dark-body-color);
}

.border h1 {
    color: #fff;
    font-size: 40px;
    margin-left: 45px;
}

.border-link {
    background-color: #fff;
    padding: 15px;
    color: var(--body-color);
    border-radius: 5px;
}
footer {
    margin-top: 50px;
    margin-left: 40px;
}

footer h3 {
    opacity: 0.8;
}

.footer-section {
    display: flex;
    gap: 50px;
}

.footer-paragraph-1 {
    margin-top: 50px;
    line-height: 30px;
    opacity: 0.7;
}

.footer-paragraph-2 {
    margin-top: 200px;
    line-height: 30px;
    /* opacity: 0.7; */
}

.footer-left p {
    opacity: 0.8;
}

.footer-left p span {
    color: var(--body-color);
}

footer .right-flex {
    display: flex;
    gap: 100px;
}

.right-1 p,
.right-2 p,
.right-3 p {
    margin-top: 30px;
    opacity: 0.7;
}

footer a {
    color: #000;
}

footer a:hover {
    color: var(--body-color);
    transition: all 0.5s ease-in-out;
}

.buttom h3 {
    margin-top: 40px;
}

.footer-form {
    margin-top: 50px;
    /* width: 400px; */
    padding-right: 410px;
    padding-top: 20px;
    padding-bottom: 10px;
    border: 1px solid #e0e0e0;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    font-size: 15px;
}

.footer-link {
    opacity: 0.7;
    position: relative;
    left: 520px;
    bottom: 25px;
}

.footer-link-2 {
    opacity: 0.7;
    position: relative;
    left: 450px;
    top: 80px;
}